/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/* COLORS ********************************/

body {
    color: #24672b;
}

/* TEXT STYLES **************************/

.mission {
    font-style: italic;
    padding-bottom: 5px;
    margin: 0 0 0 112px;
    font-size: 0.9em;
}


/* HEADER ********************************/

header {
    background: linear-gradient(135deg, #f8f1b4, #ffc14c);
    display: block;
    height: 120px;
}

nav {
    display: inline-block;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

nav a {
    margin: 40px 10px 0 0;
    padding: 5px;
    display: inline-block;
    color: #24672b;
    font-size: 1.2em;
    border: 2px solid rgba(187, 224, 255, 0);
    border-radius: 10px;
    background: rgba(255,255,255,0.3);
}

nav a:hover {
    border: 2px solid #24672b;
}

nav a:active {
    font-size: 1.3em;
}


p, a {
    font-family: 'Magra', sans-serif;
    color: #24672b;
}


.globe {
    width: 75px;
    margin: 0 20px
}

h1 {
    font-size: 3.2em;
    padding: 10px 0 0 0;
    margin: 0;
    font-family:'Prosto One', cursive;
}

.title {
    display: inline-block;
    float: left;
    width: 50%;
}

#gallery {
      margin: 0;
      padding: 0;
      list-style: none;
    }

#gallery li {
  display: inline-block;
  width: 45%;
  float: left;
  margin: 2.5%; 
}

#gallery p {
    margin: 0px 10px 0 0;
    padding: 5px;
    display: block;
    text-align: center;
    background: #fce59a;
    border: 2px solid rgba(187, 224, 255, 0);
    border-radius: 10px;
    box-sizing: border-box;
}


#gallery p:hover {
    border: 2px solid #24672b;
    border-radius: 10px;
}

#gallery img {
    padding: 10px; 
    width: 100%;

}

.contact {
    padding-left: 40px;
    text-decoration: none;
}

.list {
    list-style: none;
}

footer {
    padding-top: 20px;
    padding-bottom: 30px;
    background: linear-gradient(135deg, #f8f1b4, #ffc14c);
}

/************ Responsive iPad ********/


@media screen and (max-width: 950px) {
    
    .title {
        display: block;
        float: none;
        width: 100%;
        margin: 0 auto 0 -30px;
        text-align: center;
    }
    
    header {
        height: 180px;
    }
    
    nav {
        display: block;
        float: none;
        margin: 20px auto 10px;
        width: 100%;
        padding: 0px;
    }
    
    nav a {
        margin: 0;
    }
    
    #gallery li {
      width: 90%;
      margin: 20px 5%;
      float: left;
    }
}

/********* Responsive iPhone ************/

@media screen and (max-width: 520px) {
    
    h1 {
        font-size: 2.2em;
    }
    
    .globe {
        width: 45px
    }
    
    .mission {
        margin: 0 auto;
        padding: 0;
        width: 200px
    }
    
    nav a {
        font-size: 1em;
        margin: 10px;
        border: 2px solid #24672b;
    }
}

a {
    text-decoration: none;
}




/*********** Clearfix ***********/

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
